/* =============================
   RESET + CONFIGURACIÓN GLOBAL
============================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}


/* =============================
   CONFIGURACIÓN VIDEO/CONTROLES
============================= */

.custom-video {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-video__container {
  position: relative;
  width: 100vw;
}

.custom-video__video {
  width: 100%;
  border-radius: 0.5em;
  cursor: pointer;
}

.custom-video__control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

/* Ocultamos controles nativos */
video::-webkit-media-controls {
  display: none !important;
}

/* =============================
            BOTONES
============================= */
.btn-overlay {
  position: absolute;
  display: block;
  z-index: 3;
  border-radius: 0.5em;
  cursor: pointer;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0) /* invisibilidad sin perder clickeabilidad */
}

/* Botón 1: VER UBICACIÓN */
.btn-ubicacion {
  top: 5%;
  left: 5%;
  width: 30%;
  height: 10%;
}

/* Botón 2: CONFIRMAR ASISTENCIA */
.btn-confirmar {
  top: 58%;
  left: 5%;
  width: 30%;
  height: 10%;
}

/* =============================
       RESPONSIVE DESKTOP
============================= */
@media (min-width: 768px) {
  .custom-video__container {
    width: 50vw;          /* ancho al 50% del viewport */
    max-width: 600px;     /* máximo ancho fijo (ajustalo a gusto) */
    max-height: 80vh;     /* máximo alto al 80% de la ventana */
    margin: 0 auto;       /* centrar horizontalmente */
  }

  .custom-video__video {
    width: 100%;
    height: auto;         /* mantener proporción */
  }

  .custom-video__control {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
  }
}