/* =============================
   RESET + CONFIGURACIÓN GLOBAL
============================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

/*evitar scrollear*/
html, body {
  height: 100vh;
  overflow: hidden;
}

/* =============================
   CONFIGURACIÓN VIDEO/CONTROLES
============================= */

.custom-video {
  width: 100vw;
  height: 100vh;
  height: 100dvh;    /* Altura real sin scroll en móviles modernos */
  display: flex;
  justify-content: center;
  align-items: center;
   overflow: hidden;
}

.custom-video__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.custom-video__video {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: contain;
  padding-bottom: 20px;
  object-position: center top;
}

.custom-video__control {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
}


.custom-video__video {
  outline: none;
  touch-action: manipulation; /* ayuda a evitar doble tap o zoom */
}

/* =============================
            BOTONES
============================= */


.btn-visible {
  position: absolute;
  z-index: 3;
  padding: 0.8em 1.2em;
  font-size: 1rem;
  font-weight: bold;
  color: #2b281f;
  background-color: #ccaa57;
  border-radius: 1em;
  text-decoration: none;
  text-align: center;
  opacity: 0;
  pointer-events: none; /* desactiva clic hasta que aparezcan */
  transition: opacity 0.5s ease;
}

/* Posiciones */
.btn-ubicacion {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

.btn-confirmar {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

/* Cuando se activa desde JS */
.btn-visible.show {
  opacity: 1;
  pointer-events: auto;
}



/* =============================
       RESPONSIVE DESKTOP
============================= */
@media (min-width: 768px) {
  .custom-video__container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
  }

  .custom-video__video {
    height: 100vh;
    width: auto;
  }

  .custom-video__control {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
  }
  .btn-ubicacion {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

.btn-confirmar {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

/* Cuando se activa desde JS */
.btn-visible.show {
  opacity: 1;
  pointer-events: auto;
}
}